
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Profile Page</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">
	
	<!-- More Custom style for profile -->
	<link href="profile.css" rel="stylesheet">
	
  </head>
  <body>

    <nav class="navbar navbar-static-top navbar-light bg-faded">
      <a href="#" class="navbar-brand">Snaketron Labs</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </nav>


   
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Profile Picture and Badges -->
      <div class="row">
        <div class="col-lg-4">
			<div class="profile-pic">
			  <img class="img-circle" src="profpic.png" alt="Generic placeholder image" width="140" height="140">
			  <h2>Name Here</h2>
			</div>
		</div><!-- /.col-lg-4 -->
        <div class="col-lg-8">
			<div class="badges">
			  <h2>Badges</h2>
			  <p>Earned badges will go here. Maybe show 1-3 at a time?</p>
			   <img class="img-circle" src="idea-badge.png" alt="Generic placeholder image" width="100" height="100">
			   <img class="img-circle" src="robot-badge.png" alt="Generic placeholder image" width="100" height="100">
			   <img class="img-circle" src="comment-badge.png" alt="Generic placeholder image" width="100" height="100">
			  <p><a class="btn btn-secondary" href="#" role="button">View all</a></p>
			</div>
		</div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <!--<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid m-x-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid m-x-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid m-x-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->

	<div class="myactivities">
		<div class="col-lg-12>">
			<h2>My Top Activities</h2>
			
			<div class="activitylog">
				<div class="col-lg-4">
				
				
						<img src="activity-pic-3.jpg" alt="act1" width="300" height="180">
						<h3>Top Activity 1</h3>
						<p> Description of the activity will go here.
					Acvities can include project enrollments and stuff.
					Do you guys have other ideas about what to include here?</p>
					<a href="#">> View</a>
				</div>
				<div class="col-lg-4">
					<img src="activity-pic-3.jpg" alt="act1" width="300" height="180">
					<h3>Top Activity 2</h3>
					<p> Description of the activity will go here.
					Acvities can include project enrollments and stuff.
					Do you guys have other ideas about what to include here?</p>
					<a href="#">> View</a>
				</div>
				<div class="col-lg-4">
					<img src="activity-pic-3.jpg" alt="act1" width="300" height="180">
					<h3>Top Activity 3</h3>
					<p> Description of the activity will go here.
					Acvities can include project enrollments and stuff.
					Do you guys have other ideas about what to include here?</p>
					<a href="#">> View</a>
				</div>
				<p><a class="btn btn-secondary" href="#" role="button">View all</a></p>
			</div>
		</div>
	</div>
	  
      <!-- FOOTER -->
      <footer>
        <p class="pull-xs-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
