body{
    background-color: #eeeeee;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    background: #010101;
    background-size:cover
}

div#bgimg {
    position: fixed;
    left: 50%;
    top: 60%;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: 100%;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-75%);
    -moz-transform: translateX(-50%) translateY(-75%);
    -webkit-transform: translateX(-50%) translateY(-75%);
    -o-transform: translateX(-50%) translateY(-75%);
    transform: translateX(-50%) translateY(-75%);
    background: url('/static/img/snaketronlabs.svg') #eeeeee;
    background-size:contain;
    background-repeat:no-repeat;
    margin-top:20%;
    padding:10% 15% 60% 15%;
}

nav.navbar.navbar-static{
    background-color: rgba(0,0,0,0);
    color: black;
    padding: 1rem;
}

.navbar-brand,
.nav .nav-link{
    color:black;
}

.navbar-brand:hover,
.navbar-brand:focus,
.nav .nav-link:hover,
.nav .nav-link:focus{
    color: orange;
}

nav .container{
    border-bottom: 0.15rem solid black;
    padding: 1rem 2rem 1rem 2rem;
   
}

.container.landing-container{
    padding:25% 0 0 0;
}

@media(max-width: 768px){
    .btn{
        margin-top: 1rem;
    }
}

