html, body {
  overflow-x: hidden; }

  body {
    padding-top: 70px; }

    footer {
      padding: 30px 0; }

      @media screen and (max-width: 767px) {
        .row-offcanvas {
          position: relative;
          -webkit-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;   }
          .row-offcanvas-right {
            right: 0;   }
            .row-offcanvas-left {
              left: 0;   }
              .row-offcanvas-right .sidebar-offcanvas {
                right: -50%;   }
                .row-offcanvas-left .sidebar-offcanvas {
                  left: -50%;   }
                  .row-offcanvas-right.active {
                    right: 50%;   }
                    .row-offcanvas-left.active {
                      left: 50%;   }
                      .sidebar-offcanvas {
                        position: absolute;
                        top: 0;
                        width: 50%;   }
}

body {
  padding-bottom: 3rem;
  color: #5a5a5a; }

  .carousel {
    margin-bottom: 4rem; }

    .carousel-caption {
      z-index: 10;
      background-color: rgba(75, 75, 75, 0.8);
      padding: 0 1rem 0 1rem; }

      .carousel-item {
        height: 32rem;
        background-color: #777; }

        .carousel-item > img {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%;
          height: 32rem; }

          .carousel-indicators {
            top: 1.5rem;
            right: 1.5rem;
            bottom: auto;
            left: auto;
            width: 1rem;
            margin-left: 0; }

            .carousel-indicators > li {
              margin-bottom: 0.25rem; }

              .marketing .col-lg-4 {
                margin-bottom: 1.5rem;
                text-align: center; }

                .marketing h2 {
                  font-weight: normal; }

                  .marketing .col-lg-4 p {
                    margin-right: 0.75rem;
                    margin-left: 0.75rem; }

                    .featurette-divider {
                      margin: 5rem 0; }

                      .featurette-heading {
                        font-weight: 300;
                        line-height: 1;
                        letter-spacing: -0.05rem; }

                        @media (min-width: 40em) {
                          .carousel-caption p {
                            margin-bottom: 1.25rem;
                            font-size: 1.25rem;
                            line-height: 1.4;   }
                            .featurette-heading {
                              font-size: 50px;   }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;   }
}

.notify-badge {
  position: absolute;
  background: blue;
  height: 2rem;
  top: 6rem;
  left: 25rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  ;
font-size: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid blue; }

  .spacing {
    letter-spacing: 3px; }

    .activitylog .col-lg-4 {
      padding-top: 10px;
      border: 15px solid white;
      background: lightgrey;
      padding-bottom: 30px; }

      p.inset {
        outline-style: inset; }

        .carousel {
          margin-bottom: 4rem; }

          .carousel-caption {
            z-index: 10;
            background-color: rgba(75, 75, 75, 0.8);
            padding: 0 1rem 0 1rem; }

            .carousel-item {
              height: 32rem;
              background-color: #777; }

              .carousel-item > img {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                height: 32rem; }

                .carousel-indicators {
                  top: 1.5rem;
                  right: 1.5rem;
                  bottom: auto;
                  left: auto;
                  width: 1rem;
                  margin-left: 0; }

                  .carousel-indicators > li {
                    margin-bottom: 0.25rem; }

                    .marketing .col-lg-4 {
                      margin-bottom: 1.5rem;
                      text-align: center; }

                      .marketing h2 {
                        font-weight: normal; }

                        .marketing .col-lg-4 p {
                          margin-right: 0.75rem;
                          margin-left: 0.75rem; }

                          .featurette-divider {
                            margin: 5rem 0; }

                            .featurette-heading {
                              font-weight: 300;
                              line-height: 1;
                              letter-spacing: -0.05rem; }

                              @media (min-width: 40em) {
                                .carousel-caption p {
                                  margin-bottom: 1.25rem;
                                  font-size: 1.25rem;
                                  line-height: 1.4;   }
                                  .featurette-heading {
                                    font-size: 50px;   }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;   }
}

.notify-badge {
  position: absolute;
  background: blue;
  height: 2rem;
  top: 6rem;
  left: 25rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  ;
font-size: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid blue; }

  .spacing {
    letter-spacing: 3px; }

    .activitylog .col-lg-4 {
      padding-top: 10px;
      background: lightgrey;
      padding-bottom: 30px;
      border: 15px solid white; }

      .card-img-top {
        max-height: 250px; }

        .card-block {
          min-height: 250px;
          background-color: #404041;
          color: white; }

          .card-header {
            background-color: #727272;
            color: #f0ad4e; }

            .navbar.navbar-fixed-top {
              background-color: #727272;
              color: white; }

              .nav-item a.nav-link, .nav-item a.nav-link {
                color: #f0ad4e; }

                .nav-item .nav-link:focus, .nav-item .nav-link:hover {
                  color: #f4c37d; }
