<!doctype html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
            <meta http-equiv="x-ua-compatable" content="ie=edge">
            <meta name="robots" content="nofollow, noindex,noarchive,noodp,noydir">
            <title>{% block title %}
            Welcome to Snaketron Labs!
            {% endblock%}</title>

            <!-- Bootstrap CSS -->
            {% block stylesheet %}
            <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
            integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj"
            crossorigin="anonymous">
            <link rel="stylesheet" href="{{ url_for('static',
            filename='css/main.css') }}">
            {% endblock %}

            {% assets "scss_all" %}
                <link rel="stylesheet" href="{{ ASSET_URL }}">
            {% endassets %}
    </head>
    <body class="p-t-3">
        {% block navigation %}
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    {% if current_user.is_authenticated %}
                        <a class="navbar-brand float-md-left" href="{{ url_for('home') }}">
                            <img src="{{ url_for('static', filename='img/snaketron.svg') }}" width="25%">
                        </a>
                    {% else %}
                        <a class="navbar-brand float-md-left" href="/">
                            <img src="{{ url_for('static', filename='img/snaketron.svg') }}" width="25%">
                        </a>
                    {% endif %}
                    <ul class="nav navbar-nav pull-md-right">
                            {% if current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('project')
                                    }}">Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('profile', username=current_user.username) }}">
                                        My Profile
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" 
                                        href="{{ url_for('logout') }}">Logout
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" 
                                        href="{{ url_for('register') }}">Register
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ url_for('login') }}">Login In!
                                    </a>
                                </li>
                            {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block scripts %}
            <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
                integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
                crossorigin="anonymous">
            </script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
                integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
                crossorigin="anonymous">
            </script>
            <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
                integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
                crossorigin="anonymous">
            </script>
        {% endblock %}
    </body>
</html>
