{% extends 'layout.html' %}

{% block stylesheet %}	
    {{ super() }}
    <!-- More Custom style for profile -->
    <link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
{% endblock %}
{% block content %} 
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Profile Picture and Badges -->
      <div class="row">
        <div class="col-lg-4">
			<div class="profile-pic">
                <img class="img-circle" src="{{ url_for('static',
                filename='img/profpic.png') }}" alt="Generic placeholder image" width="140" height="140">
			  <h2>{{ current_user.first_name + ' ' + current_user.last_name }}</h2>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item">Username: {{ current_user.username }}</li>
                        <li class="list-group-item">Email: {{ current_user.email }}</li>
                    </ul>
                </div>
			</div>
		</div><!-- /.col-lg-4 -->
		
		
		
        <div class="offset-lg-6 col-lg-8">
		<div class="row">
			 <div class ="col-md-8">
			 <h2>Your Stats</h2>
			  </div>
		</div>	  
				<div class="col-lg-2">
					<div class="col-s-2">
						3
					</div>
					<div class="col-s-2">
						Ideas Given
					</div>
				</div>
				<div class="col-lg-2">
					<div class="col-s-2">
						15
					</div>
					<div class="col-s-2">
						Votes Received
					</div>
				</div>
				<div class="col-lg-2">
					<div class="col-s-2">
						10
					</div>
					<div class="col-s-2">
						Votes Given
					</div>
				</div>
				<div class="col-lg-2">
					<div class="col-s-2">
						5
					</div>
					<div class="col-s-2">
						Total Badges
					</div>
				</div>
			
			
			<div class="row">  
			  <div class="col-lg-8">
                  <img class="img-circle" src="{{ url_for('static',
                  filename='img/bronze-comment.png') }}" alt="Generic placeholder image" width="60" height="60">
                  <img class="img-circle" src="{{ url_for('static',
                  filename='img/helpful-silver.png') }}" alt="Generic placeholder image" width="60" height="60">
                  <img class="img-circle" src="{{ url_for('static',
                  filename='img/silver-thumbs.png') }}" alt="Generic placeholder image" width="60" height="60">
                  <img class="img-circle" src="{{ url_for('static',
                  filename='img/solver-gold.png') }}" alt="Generic placeholder image" width="60" height="60">
                  <img class="img-circle" src="{{ url_for('static',
                  filename='img/replies-gold.png') }}" alt="Generic placeholder image" width="60" height="60">
                 <!-- <img class="img-circle" src="{{ url_for('static',
                  filename='img/comment-badge.png') }}" alt="Generic placeholder image" width="60" height="60">
				  -->
			   </div>
			   <div class="col-lg-8">

			   <!--Popover button for new badge-->
			   <button id="new-badge" type="button" class="btn btn-secondary"
			   title="Congratulations!"data-container="body" data-toggle="popover"
			   data-placement="left"
			   data-content="You have earned a new badge. <br><img src='/static/img/replies-gold.png' alt='badge width='80px' height='80px''> <br>
			   Do you want to share on social media?<br> <img src='/static/img/facebook.png' alt='facebook' width='50px' height='50px'>
			   <img src='/static/img/twitter.png' alt='facebook' width='50px' height='50px'>
			   <img src='/static/img/instagram.png' alt='facebook' width='50px' height='50px'>">
				  New Badge
				</button>

			   <a class="btn btn-secondary" href="#" role="button">View all</a>
			   </div>
			 </div>

		</div>
		
		</div><!-- /.row -->


	<div class="myactivities">
		<div class="col-lg-12>">
			<h2 class="text-xs-center m-b-1">My Top Activities</h2>
		</div>
			<!--<div class="activitylog">-->
				<div class="col-lg-4">
				<!--Activity 1-->
				<div class="card">
				
						<img class="card-img-top w-100" src="{{ url_for('static',
						filename='img/business2.jpg') }}" alt="act1">
						
					<div class="card-block">	
							<h3>Badge Implementation</h3>
							<p> Enrolled in the Badge Implementation Project</p>
					</div>	
					
					<div class="card-footer">
						<a href="#">> View</a>
					</div>
				</div>
				</div>
				<!--Activity 1 Ends-->
					
				<!--Activity 2-->	
					<div class="col-lg-4">
						<div class="card">
								<img class="card-img-top w-100" src="{{ url_for('static', filename='img/business2.jpg') }}" alt="act2" >
							<div class="card-block">	
								<h3>Implementation Project</h3>
								<p> Commented on multiple posts in the badge implementation project</p>
							</div>
							<div class="card-footer">
								<a href="#">> View</a>
							</div>	
						</div>		
					
					</div>
				<!--Activity 2 Ends-->	
				
				<!--Activity 3-->
				<div class="col-lg-4">
					<div class="card">
						<img class="card-img-top w-100" src="{{ url_for('static',
						filename='img/business.jpg') }}" alt="act1" >
						<div class="card-block">
							<h3>Member Project Submissions</h3>
							<p> Earned the Silver Popular Badge by receiving likes and member replies</p>
						</div>
						<div class="card-footer">
						<a href="#">> View</a>
						</div>
					</div>	
				</div>
				<!--Activit 3 Ends-->
				<div class="col-lg-12">
				<p><a class="btn btn-secondary" href="#" role="button">View all</a></p>
				</div>
			<!--</div>-->
		
	</div>
	  
    </div><!-- /.container -->
{% endblock %}
{% block scripts %}
    {{ super() }}
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

	<!--js to make the images appear on popover-->
	<script>
	var image = '<img src="img/replies-gold.png" alt="badge">';
		$('#new-badge').popover({content: image, html: true});
	</script>
{% endblock %}
