
{%  extends 'layout.html' %}

    {% block spreadsheet %}
        {{ super() }}
	    <!-- Custom styles for this template -->
    <link href="destin_csspro.css" rel="stylesheet">
	{% endblock %}

{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="first-slide" src="{{ url_for('static', filename='img/business1.jpg') }}" alt="First slide">

          <img class="first-slide" src="{{ url_for('static', filename='img/business1.jpg') }}" alt="First slide" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Projects</h1>
            </div>
          </div>
        </div>
		</div>
        
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


	

	
			
			
			<div class="container">
					
				<div class="row">
					<div class="col-lg-4">
						<div class="card">
							<img class="card-img-top w-100" src="{{ url_for('static', filename='img/business2.jpg') }}" alt="act1">
							<div class="card-block">
								<h3>Badge Implementation</h3>
								<p> To reward out users for their dedicated service we will be implementing
									a badging system that will allow users to receive credit and acclaim for
									being an active user.</p>
							</div>
							<div class="card-footer">
								<a href="#">> View</a>
							</div>
						</div>
					</div>
				
					
									
				
					<div class="col-lg-4">
						<div class="card">
							<img class="card-img-top w-100" src="{{ url_for('static', filename='img/business.jpg') }}" alt="act1">
							<div class="card-block">
								<h3>Member Projects Submissions</h3>
								<p> This new feature will allow premium active users to get their ideas viewed by our company. The members
								with ideas that our company sees merit in will be given the opportunity to work with us to make it a reality</p>
							</div>
							<div class="card-footer">
								<a href="#">> View</a>
							</div>
						</div>
					</div>
							

				
					<div class="col-lg-4">
						<div class="card">
							<img class="card-img-top w-100" src="{{ url_for('static', filename='img/keaton.png') }}" alt="act1">
							<div class="card-block">
								<h3>Micheal Keaton Financial Advice</h3>
								<p> Get one on one advice from Michael Keaton, the best Batman of all Batmans</p>
							</div>
							<div class="card-footer">
								<a href="{{ url_for('templates', filename='project.html')}}">> View</a>
							</div>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-lg-4">
						<div class="card">
							<img class="card-img-top w-100" src="{{ url_for('static', filename='img/activity2.jpg') }}" alt="act1">
							<div class="card-block">
								<h3>Social Media component addition</h3>
								<p> Do you want more friends? Share your interests and passions to the community to promote your personal brand.</p>
							</div>
							<div class="card-footer">
								<a href="{{ url_for('templates', filename='project2.html')}}">> View</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	
      <!--<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid m-x-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid m-x-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div> -->

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

	  

      <!-- FOOTER -->
      <footer>
        <p class="pull-xs-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
{% endblock %}