{% extends 'layout.html' %}
    {% block stylesheets %}
        {{ super() }}
		<link href="{{ url_for('static',filename='css/project_page.css') }}" rel="stylesheet">
	{% endblock %}
	{% block content %}
    <!-- Carousel
    ================================================== -->		
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active">
				<img class="second-slide" src="{{ url_for('static', filename='img/keaton.png') }}" alt="Project image">
				<div class="container">
					<div class="carousel-caption">
						<h1>Michael Keaton's Financial Advice</h1>
						<p>Get one on one advice from Michael Keaton, the best Batman of all Batmans.</p>
						<p><a class="btn btn-primary" href="#" role="button" >Enroll</a></p>
					</div>
				</div>
			</div>
		</div>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="offset-sm-2 col-lg-6">
          <h2>Description:</h2>
          <p>Do you want to become a billionaire? Michael Keaton can personally guide you to become the next batman billionaire.</p>
          <p><a class="btn btn-primary" href="#" role="button">Enroll</a></p>
        </div><!-- /.col-lg-8 -->

		<!-- person, comment, #days on the right side of the description-->
        <div class="col-xs-4">
          <i class="fa fa-user fa-3x"></i>
		  <i class="fa fa-comments fa-3x"></i>
		  <p>Number of days left: 34</p>
			<img class="img" src="{{ url_for('static', filename='img/robot-badge.png') }}" alt="robot-badge" width="30" height="30">
			<img class="img" src="{{ url_for('static', filename='img/comment-badge.png') }}" alt="comment-badge" width="30" height="30">
			<img class="img" src="{{ url_for('static', filename='img/idea-badge.png') }}" alt="idea-badge" width="30" height="30">

			<div id="badge">
				<button id="badge-vote" class="btn btn-secondary btn-sm fa fa-thumbs-up" title="Acknowledgments" data-container="body"
					data-toggle="popover" data-placement="left"
					data-content="

					<table>
					<tr>
					<td><img src='static/img/robot-badge.png' width='30' height='30'></td>
					<td>Automation Badge</td>
					<td>25</td>
					</tr>

					<tr>
					<td><img src='static/img/comment-badge.png' width='30' height='30'></td>
					<td>name</td>
					<td>#</td>
					</tr>

					<tr>
					<td><img src='static/img/idea-badge.png' width='30' height='30'></td>
					<td>name</td>
					<td>#</td>
					</tr>

					<tr>
					<td><img src='static/img/shoot-bronze.png' width='30' height='30'></td>
					<td>name</td>
					<td>#</td>
					</tr>
					</table>

					"
				>
				</button>

				<button id="badge-list" type="button" class="btn btn-secondary btn-sm" title="List of badges" data-container="body"
				data-toggle="popover" data-placement="top" data-trigger="focus"
				data-content="
				<img src='static/img/robot-badge.png' width='30' height='30'>
				<img src='static/img/comment-badge.png' width='30' height='30'>
				<img src='static/img/idea-badge.png' width='30' height='30'>
				<img src='static/img/shoot-bronze.png' width='30' height='30'>
				"
				>
					View
				</button>
			</div>
		</div><!--/ ### on the right of the description-->

      </div><!-- /.row -->
        <div class="row m-y-3">
		<!--Question-->
            <div class="offset-md-3 col-md-6 text-xs-center">
                  <h3>What do you think?</h3>
                      <h5>Would you use this product?</h5>
                  <form>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">Yes&nbsp&nbsp&nbsp&nbsp&nbsp
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="optradio">No
                    </label>
                  </form>
                  <button type="button" class="btn btn-success btn-block">Submit</button>
            </div>
		</div>
		<!--/Question-->

   <!-- Comment
    ================================================== -->

		<section class="content-item" id="comments">
			<div class="container">         
				<div class="row">
					<div class="offset-sm-2 col-sm-8">   
						<form>
							<h3 class="pull-xs-left">New Comment</h3>
							<fieldset>
								<div class="row">
									<div class="col-sm-3 col-lg-2 hidden-xs">
										<img class="img" src="{{ url_for('static', filename='downey.png') }}" width="150" height="150" alt="">
									</div>
									<div class="form-group col-xs-12 offset-sm-2 col-sm-8">
										<textarea class="form-control" id="message" placeholder="Your message" required=""></textarea>
										<button type="submit" class="btn btn-normal pull-sm-right">Submit</button>
									</div>
									
								</div>  	
							</fieldset>
						</form>
						
						<h3>4 Comments</h3>
						
						<!-- COMMENT 1 - START -->
						<div class="media">
							<a class="pull-left" href="#"><img class="img" src="{{ url_for('static', filename='downey.png') }}" width="50" height="50" alt=""></a>
							<div class="media-body">
								<h4 class="media-heading">Robert Downey Jr.</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<ul class="list-unstyled list-inline media-detail pull-left">
									<li><i class="fa fa-calendar"></i>27/02/2014</li>
									<li><i class="fa fa-thumbs-up"></i>13</li>
								</ul>
								<ul class="list-unstyled list-inline media-detail pull-right">
									<li class=""><a href="">Helpful</a></li>
									<li class=""><a href="">Like</a></li>
									<li class=""><a href="">Reply</a></li>
								</ul>
							</div>
						</div>
						<!-- COMMENT 1 - END -->
						
						<!-- COMMENT 2 - START -->
						<div class="media">
							<a class="pull-left" href="#"><img class="img" src="{{ url_for('static', filename='ferrell.png') }}" width="50" height="50" alt=""></a>
							<div class="media-body">
								<h4 class="media-heading">Will Ferrell</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<ul class="list-unstyled list-inline media-detail pull-left">
									<li><i class="fa fa-calendar"></i>27/02/2014</li>
									<li><i class="fa fa-thumbs-up"></i>13</li>
								</ul>
								<ul class="list-unstyled list-inline media-detail pull-right">
									<li class=""><a href="">Helpful</a></li>
									<li class=""><a href="">Like</a></li>
									<li class=""><a href="">Reply</a></li>
								</ul>
							</div>
						</div>
						<!-- COMMENT 2 - END -->
						
						<!-- COMMENT 3 - START -->
						<div class="media">
							<a class="pull-left" href="#"><img class="img" src="{{ url_for('static', filename='ronaldo.jpg') }}" width="50" height="50" alt=""></a>
							<div class="media-body">Christiano Ronaldo</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<ul class="list-unstyled list-inline media-detail pull-left">
									<li><i class="fa fa-calendar"></i>27/02/2014</li>
									<li><i class="fa fa-thumbs-up"></i>13</li>
								</ul>
								<ul class="list-unstyled list-inline media-detail pull-right">
									<li class=""><a href="">Helpful</a></li>
									<li class=""><a href="">Like</a></li>
									<li class=""><a href="">Reply</a></li>
								</ul>
							</div>
						</div>
						<!-- COMMENT 3 - END -->
						
						<!-- COMMENT 4 - START -->
						<div class="media">
							<a class="pull-left" href="#"><img class="img" src="{{ url_for('static', filename='rock.jpg') }}" width="50" height="50" alt=""></a>
							<div class="media-body">
								<h4 class="media-heading">Dwayne Johnson</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<ul class="list-unstyled list-inline media-detail pull-left">
									<li><i class="fa fa-calendar"></i>27/02/2014</li>
									<li><i class="fa fa-thumbs-up"></i>13</li>
								</ul>
								<ul class="list-unstyled list-inline media-detail pull-right">
									<li class=""><a href="">Helpful</a></li>
									<li class=""><a href="">Like</a></li>
									<li class=""><a href="">Reply</a></li>
								</ul>
							</div>
						</div>
						<!-- COMMENT 4 - END -->
					
					</div>
				</div>
			</div>
		</section>
      <!-- FOOTER -->
      <footer>
        <p class="float-xs-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    {% endblock %}
    {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/project_page.js') }}"></script>
		<script>
			var image = '<img class="img" src="static/img/idea-badge.png">';
			$('#badge-list').popover({ image: image, html: true});
		</script>
		<script>
			$('#badge-vote').popover({html: true});
		</script>
		<script src="https://use.fontawesome.com/670482e323.js"></script>
    {% endblock %}

<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg></body></html>
