$primary-color: #f2f2f2;
$dark-primary-color: darken($primary-color,50%);
$orange: #f0ad4e;

.card-header{
  background-color:$dark-primary-color;
  color: $orange;
}

.navbar.navbar-fixed-top{
  background-color: $dark-primary-color;
  color:white;
}


.nav-item a.nav-link,
.nav-item a.nav-link{
  color: $orange;
}

.nav-item .nav-link:focus,
.nav-item .nav-link:hover{
  color: lighten($orange, 10%);
}